/* Background header */
.intro-header.forest {
  background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                    url(../img/forest-bg.jpg);
  background-size: cover;
  background-position: center;
}

.post-preview>a {
    color: #333
}

.post-preview>a:focus,
.post-preview>a:hover {
    text-decoration: none;
    color: #0085A1
}

.post-preview>a>.post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px
}

.post-preview>a>.post-subtitle {
    margin: 0 0 10px;
    font-weight: 300
}

.post-preview>.post-meta {
    color: #777;
    font-size: 18px;
    font-style: italic;
    margin-top: 0
}

.post-preview>.post-meta>a {
    text-decoration: none;
    color: #333
}

.post-preview>.post-meta>a:focus,
.post-preview>.post-meta>a:hover {
    color: #0085A1;
    text-decoration: underline
}

@media only screen and (min-width:768px) {
    .post-preview>a>.post-title {
        font-size: 36px
    }
}

.section-heading {
    font-size: 36px;
    margin-top: 60px;
    font-weight: 700
}

.btn,
.pager li>a,
.pager li>span {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px
}

.caption {
    font-size: 14px;
    padding: 10px;
    font-style: italic;
    margin: 0;
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}